{{- /* Comments area start */ -}}
<script src="https://giscus.app/client.js"
        data-repo="tsic404/tsic404"
        data-repo-id="R_kgDOIEz20Q"
        data-category="Announcements"
        data-category-id="DIC_kwDOIEz20c4CS1ks"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark_dimmed"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{{- /* Comments area end */ -}}
